.App{
  font-size: 22px;
}
.links{
  position: absolute;
  top:5%;
  right : 50%;
}

.nav_bar a:hover{
  color:rgba(56,136,220)

}

.blog-details h2{
  color:rgba(56,136,220);
  margin:30px 0;
}

.blog-details p{
  color:black;
  max-width: 70%;
  /* margin:30px 0; */
}
.blog-details button{
  background:rgba(56,136,220) ;
  color:white;
  border : 0;
  padding:8px;
  margin:30px 0;
  border-radius:8px;
  cursor:pointer;

}
.blog-preview a{
  text-decoration: none;
  color:black;
}
.blog-preview h3{
  text-decoration: none;
  color:rgb(52, 136, 220);
}
.blog-preview :hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}


.create label{
  text-align: left;
  display: block;
}
.create h2{
  font-size: 20px;
  columns: rgb(29, 164, 232);
  margin-bottom: 30px;
}

.create input, .create textarea, .create select{
  width: 75%;
  height: 50px;
  padding:6px 10px;
  margin:10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;

}
.create button{
  background:rgb(29, 164, 232);
  color:white;
  border : 0;
  padding:8px;
  border-radius:8px;
  cursor:pointer;

}
